:root {
  --color-orange-light: rgba(252, 176, 69, 1);
  --color-orange-darker: rgb(241, 118, 2);
  --color-grey-light: rgb(243, 243, 243);
  --color-grey-light-2: rgb(248, 246, 242);
  --color-grey-darker-3: rgb(201, 201, 201);
  --color-grey-darker-2: rgb(117, 117, 117);
  --color-grey-darker: rgb(61, 61, 61);
  --shadow-base: 0 10px 31px 6px rgba(0, 0, 0, 0.4); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-image: linear-gradient(168deg, var(--color-orange-light) 0%, var(--color-orange-darker) 70%);
  min-height: 100vh;
  background-repeat: no-repeat; }

.logo {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-orange-darker);
  margin-left: 1.7rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;
    border: none;
    border-radius: 40px;
    background-color: var(--color-grey-light-2);
    padding: 0.8rem 2rem;
    margin-right: -3.5rem;
    transition: 0.3s; }
    .search__input:focus {
      width: 100%;
      outline: none; }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-darker-3);
      font-weight: 100; }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-darker-2); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
    height: 100%; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: var(--color-grey-darker-2); }
  .user-nav__notification {
    background-color: var(--color-orange-darker);
    font-size: 1.1rem;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 8px; }
  .user-nav__user-photo {
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.8rem; }

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-base);
  background-color: var(--color-grey-light); }
  .container .header {
    font-size: 1.4rem;
    height: 6.6rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .container .content {
    display: flex; }
    .container .content .sidebar {
      background-color: var(--color-grey-darker);
      width: 20%; }
    .container .content .hotel-description {
      flex-grow: 1;
      background-color: white; }
