// USER
.logo {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-orange-darker);
  margin-left: 1.7rem;
  @media (max-width: 600px) {
    font-size: 1.7rem;
  }
}

// SEARCH

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 520px) {
    order: 1;
    flex-basis: 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;

    border: none;
    border-radius: 40px;
    background-color: var(--color-grey-light-2);
    padding: 0.8rem 2rem;
    margin-right: -3.5rem;
    transition: 0.3s;

    &:focus {
      width: 100%;
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: var(--color-grey-darker-3);
      font-weight: 100;
    }
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-darker-2);
  }
}

// USER NAVIGATION
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
    height: 100%;
    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: var(--color-grey-darker-2);
  }

  &__notification {
    background-color: var(--color-orange-darker);
    font-size: 1.1rem;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 8px;
  }

  &__user-photo {
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.8rem;
  }
  &__user-name {
    @media (max-width: 600px) {
      font-size: 0;
    }
  }
}

// Side navigation

.side-navigation {
  list-style: none;
  margin-top: 3rem;
  @media (max-width: 1120px) {
    display: flex;
    margin-top: 0;
  }
  @media (max-width: 490px) {
    flex-direction: column;
  }
  &__item {
    position: relative;

    @media (max-width: 1120px) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @media (max-width: 1120px) {
        margin-bottom: 0;
      }
    }
  }
  &__item::before {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    background-color: var(--color-orange-darker);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.2s,
      width 0.4s cubic-bezier(0.84, 0, 0.05, 0.99) 0.2s;
  }
  &__item:hover::before,
  .item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-orange-darker-2);
  }

  &__link {
    display: block;
    position: relative;
    z-index: 2;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-2);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.6rem 3.5rem;
    display: flex;
    align-items: center;
    @media (max-width: 1120px) {
      justify-content: center;
      padding: 1.9rem 0;
    }
    @media (max-width: 670px) {
      font-size: 1.3rem;
    }
    @media (max-width: 490px) {
      padding: 1.4rem 0;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 2.5rem;
    @media (max-width: 670px) {
      width: 1.6rem;
      height: 1.6rem;
    }
    @media (max-width: 540px) {
      margin-right: 1.3rem;
    }
  }
}
.copywright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem 3rem;
  color: var(--color-grey-darker-3);
  @media (max-width: 1120px) {
    display: none;
  }
}

// IMG GALLERY

.img-gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

// INFORMATION BAR

.information-bar {
  display: flex;
  align-items: center;

  border-bottom: 3px solid var(--color-grey-light-2);
  @media (max-width: 480px) {
    flex-wrap: wrap;
  }

  &__header {
    font-weight: 300;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--color-grey-darker-2);
    padding: 1.7rem 3rem;
    @media (max-width: 670px) {
      font-size: 1.8rem;
    }
    @media (max-width: 520px) {
      font-size: 1.5rem;
    }
    @media (max-width: 480px) {
      flex-basis: 100%;
      text-align: center;
      padding-bottom: 1rem;
    }
  }

  &__stars {
    display: flex;
    margin-right: auto;
    @media (max-width: 480px) {
      flex-basis: 100%;

      justify-content: center;
      padding-bottom: 2rem;
    }
  }

  &__icon-star,
  &__icon-location {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--color-orange-darker);
    @media (max-width: 670px) {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
  &__icon-location {
    margin-bottom: 2px;
  }

  &__location {
    display: flex;
    align-items: center;
    @media (max-width: 480px) {
      flex-basis: 50%;
      margin-right: auto;
      margin-left: 1rem;
    }
  }

  &__button-orange {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: var(--color-orange-darker);
    border-bottom: 2px solid currentColor;
    padding-bottom: 2px;
    align-self: center;
    cursor: pointer;
    margin-left: 0.4rem;
    @media (max-width: 670px) {
      font-size: 1.3rem;
    }

    span {
      transition: margin-left 0.2s;
    }
    &:hover {
      color: var(--color-grey-darker);
      span {
        margin-left: 8px;
      }
    }
    &:focus {
      animation: pulse 1s infinite;
    }
  }

  &__rating {
    margin-left: 3rem;
    background-color: var(--color-orange-darker);
    align-self: stretch;
    padding: 0 1.5rem 0.2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 520px) {
      padding: 0 1rem 0.2rem;
    }
    @media (max-width: 480px) {
      margin-left: auto;
    }
  }

  &__rating--number {
    font-size: 2.2rem;
    font-weight: 300;
    @media (max-width: 670px) {
      font-size: 1.7rem;
    }
    @media (max-width: 520px) {
      font-size: 1.6rem;
    }
  }

  &__rating--votes {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
  }
}

//DETAILS SECTION

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
.paragraph {
  line-height: 2.2rem;
}

.list {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-darker-3);
  border-bottom: 1px solid var(--color-grey-darker-3);
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  .list-item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem;
    @media (max-width: 520px) {
      flex: 0 0 100%;
      text-align: center;
    }
    &::before {
      content: "";
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      margin-right: 1rem;

      // background-image: url(../img/SVG/chevron-thin-right.svg);
      // background-size: cover;

      background-color: var(--color-orange-darker);
      -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
      -webkit-mask-size: cover;
    }
  }
}

.photos-section {
  display: flex;
  align-items: center;
  @media (max-width: 450px) {
    flex-direction: column;
  }
  &__paragraph {
    font-size: 1.3rem;
    color: var(--color-grey-darker);
    margin-right: auto;
    @media (max-width: 450px) {
      margin-right: 0;
    }
  }

  &__gallery {
    display: flex;
    @media (max-width: 450px) {
      margin-top: 1.7rem;
    }
  }

  &__photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: -1.3rem;
    border: 3px solid white;
    box-sizing: content-box;
    &:first-child {
      margin-left: 2rem;
      @media (max-width: 450px) {
        margin-left: 0;
      }
    }

    @media (max-width: 1200px) {
      margin-left: -2rem;
    }
  }
}

//REVIEW

.review {
  padding: 3.5rem 3rem 3rem;
  background-color: #fff;
  margin-bottom: 3rem;
  box-shadow: var(--shadow-subtle);
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: 1200px) {
    margin-bottom: 2.5rem;
  }
  @media (max-width: 840px) {
    width: calc(100% / 2 - 1.5rem);
    &:first-child {
      margin-right: 3rem;
    }
  }
  @media (max-width: 600px) {
    width: 60%;
    &:first-child {
      margin-right: 0;
    }
  }
  @media (max-width: 520px) {
    width: 100%;
  }
  &__text {
    margin-bottom: 3rem;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1.8rem;
  }
  &__user-box {
    margin-right: auto;
    // @media (max-width: 520px) {
    //   margin-right: 4rem;
    // }
  }
  &__user-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
  }
  &__user-date {
    font-size: 1.2rem;
    color: var(--color-grey-darker-2);
  }
  &__number {
    font-size: 2.3rem;
    color: var(--color-orange-darker);
    @media (max-width: 520px) {
      margin-right: 2rem;
    }
  }
  &::before {
    content: "\201C";
    position: absolute;
    top: -80px;
    left: -6px;
    font-family: serif;
    color: var(--color-grey-darker-3);
    font-size: 22rem;
    z-index: -1;
  }
}

//LAST SECTION

.action {
  text-align: center;
  text-transform: uppercase;
  padding: 4rem;
  .advertisement {
    font-size: 2.1rem;
    font-weight: 300;
    color: var(--color-grey-darker);
    margin-bottom: 3rem;
    @media (max-width: 520px) {
      font-size: 1.7rem;
    }
  }
  .btn-red {
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(
      168deg,
      var(--color-orange-light) 0%,
      var(--color-orange-darker) 70%
    );
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    @media (max-width: 520px) {
      font-size: 1.4rem;
    }
    overflow: hidden;
    cursor: pointer;
    &:hover > .invisible {
      top: 0;
    }
    &:hover > .visible {
      transform: translateY(100%);
    }
    > * {
      border-radius: 50%;
      color: white;
      padding: 2.5rem 4rem;
      border-radius: 50px;
      transition: 0.2s;
      @media (max-width: 520px) {
        padding: 2rem 3rem;
      }
    }
    .visible {
      display: block;
    }
    .invisible {
      display: block;
      position: absolute;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &:focus {
      animation: pulse 1s infinite;
    }
  }
}
//ANIMATIONS

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
